@font-face {
    font-style: normal;
    font-weight: 900;
    font-family: 'Fraunces 9pt';
    src: url(/fonts/fraunces-v22-latin-900.ttf);
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Barlow';
    src: url(/fonts/barlow-v12-latin-regular.ttf);
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Barlow';
    src: url(/fonts/barlow-v12-latin-700.ttf);
}