/* Footer styles */

.footer{
    margin: 0 auto;
    margin-top: 200px;
    padding: 0 85px;
    width: 1280px;
    height: 120px;
    display: flex;
    align-items: center;
    

    background: #2C343E;
}
.foot__list{
        display: flex;
        list-style: none;
        margin-left: 100px;
     
}
.icons{
    margin-left: auto;
    letter-spacing: 24px;
}
.footer a:hover{
    color: white;
}